nav > ul {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
}

.grid-auto-fit {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(25ch, 100%), 1fr));
  padding: 2rem;
}

@layer not-demo-related {
  * {
    box-sizing: border-box;
  }
  :root {
    --clr-primary-400: hsl(189, 72%, 52%);
    --clr-primary-600: hsl(196, 40%, 21%);
  }

  html {
    font-family: system-ui;
    color-scheme: dark;
  }

  body {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.7;
  }

  h1 {
    line-height: 1.1;
  }

  header {
    background: hsl(0 0 50% / 0.2);
    padding: 1rem;
  }

  .card {
    padding: 1rem;
    background: hsl(0 0 50% / 0.2);
    border-radius: 1rem;
  }
}
